.sortByBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.SortBySpan {
	color: white;
	font-weight: 900;
}

.sortByIdSelect {
	font-weight: 900;
	width: 120px;
}

.sortByTitleSelect {
	font-weight: 900;
	width: 120px;
}

.sortByNameSelect {
	font-weight: 900;
	width: 120px;
}

.sortByFavSelect {
	font-weight: 900;
	width: 120px;
}

@media (max-width: 768px) {
	.sortByBlock {
		gap: 8px;
		width: 98%;
	}

	.sortByIdSelect {
		font-size: 16px;
		width: 100%;
	}
	.sortByTitleSelect {
		font-size: 16px;
		width: 100%;
	}
	.sortByNameSelect {
		font-size: 16px;
		width: 100%;
	}
	.sortByFavSelect {
		font-size: 15px;
		width: 100%;
	}
	.SortBySpan {
		font-size: 18px;
	}
}

@media (max-width: 425px) {
	.sortByBlock {
		gap: 8px;
		width: 158px;
		flex-direction: column;
	}
	.sortByIdSelect option {
		width: 100%;
		font-size: 16px;
		font-weight: 700;
	}
	.sortByTitleSelect option {
		width: 100%;
		font-size: 16px;
		font-weight: 700;
	}
	.sortByNameSelect option {
		width: 100%;
		font-size: 16px;
		font-weight: 700;
	}
	.sortByFavSelect option {
		width: 100%;
		font-size: 16px;
		font-weight: 700;
	}
}
